{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static './css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static './css/custom.css' %}" type="text/css">
</head>
<body class="d-flex flex-column min-vh-100">
    <header>
        {% if user.is_authenticated %}
            {% include "components/navbar.html" %}
        {% else %}
            {% include "components/guestnavbar.html" %}
        {% endif %}
    </header>

    <main class="container">
        <div class="row mt-3">
            <div class="col-9 mb-3">
                {% block content %}
                {% endblock %}
            </div>
            <div class="col">
                {% include "components/taglist.html" %}
                {% include "components/topuserlist.html" %}
            </div>
        </div>
    </main>

    {% include "components/footer.html" %}
    
    <script src="{% static './js/jquery.min.js' %}"></script>
    <script src="{% static './js/csrf.js' %}"></script>
    <script src="{% static './js/bootstrap.min.js' %}"></script>
    <script src="{% static './js/search.js' %}"></script>

    {% block jscode %}
	{% endblock %}
</body>
</html>