{% extends "./base/base.html" %}

{% block title %}
Ask
{% endblock title %}

{% block content %}
<div class="d-flex gap-3 align-items-center">
    <h1>New Question</h1>
</div>

<form method="post">
    {% csrf_token %}
    {% for field in form %}
        <div class="row mb-3">
            <label for="{{ field.id_for_label }}" class="col-sm-2 col-form-label">{{ field.label }}</label>
            <div class="col-sm-8">
                {{ field }}
                {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
                {% if field.errors %}
                    <div class="invalid-feedback d-block">
                        {{ field.errors }}
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    <div class="row mt-3">
        <div class="col-2"></div>
        <div class="col-10">
            <button type="submit" class="btn btn-primary">Ask</button>
        </div>
    </div>
</form>
{% endblock content %}
