{% extends "./base/base.html" %}

{% block title %}
question
{% endblock title %}

{% block content %}
{% include "components/questioninfo.html" %}
<hr>
<div class="d-flex flex-column gap-3">
    {% for answer in content.page_items.object_list %}
        {% include "components/answer.html" %}
    {% endfor %}
</div>
{% include "components/pagination.html" %}
<hr>
<div class="">
    <div class="form-group mb-3">
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
    </div>
    <div class="mb-3" id="end">
        <button type="answer" class="btn btn-primary">Answer</button>
    </div>
</div>
{% endblock content %}