{% extends "./base/base.html" %}

{% block title %}
sign up
{% endblock title %}

{% block content %}
<div class="d-flex gap-3 align-items-center">
    <h1>Registration</h1>
</div>

{% if form.non_field_errors %}
    <div class="mb-3 text-danger">
        {{ form.non_field_errors }}
    </div>
{% endif %}

<form method="post" novalidate enctype="multipart/form-data">
    {% csrf_token %}
    {% for form_field in form %}
        <div class="row mb-3">
            <label for="{{ form_field.id_for_label }}" class="col-sm-2 col-form-label">{{ form_field.label }}</label>
            <div class="col-sm-4">
                {{ form_field }}
                <div class="invalid-feedback d-block">
                    {{ form_field.errors }}
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="row mt-3">
        <div class="col-2">
        </div>
        <div class="col-10">
            <button type="submit" class="btn btn-primary">Sign up</button>
        </div>
    </div>
</form>
{% endblock content %}