<div class="card w-100">
    <div class="card-body">
        <div class="row">
            <div class="col-auto d-flex align-items-start">
                <div class="d-flex flex-column align-items-center">
                    <img src="../static/img/pfp.jpg" alt="Avatar" class="img-thumbnail profilePictureQuestion mb-2">
                    <div class="d-flex align-items-center bg-light rounded p-2">
                        <button class="btn btn-link p-0">
                            <img src="../static/img/up-arrow.png" alt="Up Vote" class="vote-icon">
                        </button>
                        <div class="ms-2 me-2">5</div>
                        <button class="btn btn-link p-0">
                            <img src="../static/img/down-arrow.png" alt="Down Vote" class="vote-icon">
                        </button>
                    </div>                  
                </div>
            </div>
            <div class="col">
                <h5 class="card-title">{{ answer.nickname }}</h5>
                <div>
                    <p class="card-text">
                        {{ answer.text }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>