<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'app:index' %}">AskMe</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex w-100 justify-content-between align-items-center">
                <div class="form-group position-relative">
                    <input id="searchfield" class="form-control" type="search" placeholder="Type question" aria-label="search">

                    <div id="resultsmenu" class="dropdown-menu w-100 position-absolute" style="display: none; max-height: 300px; overflow-y: auto; z-index: 1050;">
                        <div id="no-results" class="dropdown-item text-muted" style="display: none;">
                            No results found.
                        </div>
                        <div id="loading" class="dropdown-item text-muted" style="display: none;">
                            Loading...
                        </div>
                        <div id="result-template" class="dropdown-item d-flex align-items-center" style="display: none;">
                            <a href="#" class="d-flex w-100 text-decoration-none text-reset">
                                <div class="text-truncate"></div>
                            </a>
                        </div>
                    </div>
                </div>
                <ul class="navbar-nav d-flex align-items-center">
                    <li class="nav-item me-2">
                        <a href="{% url 'app:ask' %}" class="btn btn-primary">Ask</a>
                    </li>
                    <li class="nav-item">
                        <div class="d-flex gap-1">
                            <img src="{{ request.user.profile.avatar.url }}" alt="Avatar" class="rounded-circle profilePicture">
                            <div class="d-flex flex-column">
                                <div class="d-flex ms-2">{{ user.username }}</div>
                                <div class="d-flex">
                                    <a class="nav-link me-2" href="{% url 'app:settings' %}">Settings</a>
                                    <a class="nav-link" href="{% url 'app:logout' %}">Log out</a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
