<section class="mt-5">
    <h2>Popular Tags</h2>
    <div>
        <span class="badge badge-pill text-bg-primary">tag</span>
        <span class="badge badge-pill text-bg-secondary">tag</span>
        <span class="badge badge-pill text-bg-success">tag</span>
        <span class="badge badge-pill text-bg-danger">tag</span>
        <span class="badge badge-pill text-bg-warning">tag</span>
        <span class="badge badge-pill text-bg-info">tag</span>
        <span class="badge badge-pill text-bg-light">tag</span>
        <span class="badge badge-pill text-bg-dark">tag</span>
    </div>
</section>